annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
blinker==1.9.0
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
ConfigArgParse==1.7
confluent-kafka==2.8.0
fastapi==0.115.7
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
gevent==24.11.1
geventhttpclient==2.3.3
greenlet==3.1.1
grpcio==1.70.0
grpcio-tools==1.70.0
h11==0.14.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
locust==2.33.1
MarkupSafe==3.0.2
minio==7.2.15
msgpack==1.1.0
numpy==2.2.3
opencv-python==4.11.0.86
packaging==24.2
pluggy==1.5.0
protobuf==5.29.3
psutil==7.0.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pytest==8.3.4
python-multipart==0.0.20
pyzmq==26.2.1
redis==5.2.1
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==75.8.0
snakeviz==2.2.2
sniffio==1.3.1
starlette==0.45.3
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
Werkzeug==3.1.3
zope.event==5.0
zope.interface==7.2
