fastapi==0.115.7
uvicorn==0.34.0
python-ffmpeg==2.0.12
minio==7.2.15
pydantic-settings==2.7.1
python-multipart==0.0.20
aiofiles==24.1.0
prometheus_fastapi_instrumentator==7.0.2
prometheus-client=0.21.1