fastapi==0.115.7
uvicorn==0.34.0
redis>=5.0.1
minio==7.2.15
pydantic-settings==2.7.1
asyncio>=3.4.3
prometheus_fastapi_instrumentator==7.0.2
prometheus-client==0.21.1
pytest>=7.4.3
pytest-asyncio>=0.21.1
httpx>=0.25.2